import Violet{{properCase name}} from '../src/{{name}}.vue'

export default {
title: 'Violet{{properCase name}}',
component: Violet{{properCase name}}
}

export const {{properCase name}} = _ => ({
components: { Violet{{properCase name}} },
template: `
<div>
  <violet-{{name}}></violet-{{name}}>
</div>
`
})